html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*end of css reset*/
body{
    font-family: 'Noto Serif', serif;
    letter-spacing: 1px;
}
header .inner .top .mobileMenu{
    width: 300px;
    position: absolute;
    background-color: #2f2f2f;
    top: 140px;
    right: -300px;
    transition: all 0.3s;
    z-index: 1000;
    font-size: 14px;
    font-weight: 600;
    display: none;
}

header .inner .top .mobileMenu li{
    color: #d7cdbf;
    padding: 15px 0px;
    display: block;
    margin-bottom: 0px;
    
}
header .inner .top .mobileMenu li a{
    text-decoration: none;
    color: #d7cdbf;
    cursor: pointer;
}
header{
    background-image: url(images/header03.jpg);
    background-position: center 0px;
    font-family: 'Noto Serif', serif;
}
header .fixedMobileMenu{
    background-color: #3b3c3a;
    color: #d7cdbf;
    text-align: center;
    display: none;
    z-index: 999;
    width: 100%;
    
}
header .fixedMobileMenu li{
    display: inline-block;
    padding: 0px 20px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 14px;
}
header .fixedMobileMenu li a{
    text-decoration: none;
    color: #d7cdbf;
    cursor: pointer;
}
header .fixedMobileMenu li a:hover{
    color: #fff;
}
header .fixedMobileMenu li img{
    transform: scale(0.5);
}
.stuck{
    position: fixed;
}
header .inner{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    position: relative;
}
header .inner .top{
    position: relative;
}
header .inner .top li{
    display: inline-block;
    vertical-align: middle;
    padding: 0px 20px;
    color: #d7cdbf;
    font-weight: 600;
    margin-bottom: 70px;
    font-size: 14px;
}
header .inner .top li a{
    text-decoration: none;
    cursor: pointer;
}
header .inner .top li a:hover{
    color: #fff;
}
header .inner .top li img{
    transform: scale(0.75);
}
header .inner .top .sandwich img{
    transform: scale(0.75);
    margin-bottom: 60px;
}
header .inner .top .sandwich img:last-of-type{
    position: absolute;
    top: 50px;
    right: 0px;
    cursor: pointer;
}
header .inner .bottom{
    color: #fff;
    font-size: 54px;
    padding-bottom: 160px;
    font-weight: 400;
    letter-spacing: 1px;
}
.main{
    position: relative;
    background-color: #f8f8f8;
    overflow: auto;
}
.main .table{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    background-color: #fff;
    padding: 50px;
    text-align: center;
    
}
.main .table .header{
    background-color: #a3845b;
    color: #fff;
    padding: 20px 10px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.main .table .header select{
    color: #000;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    outline: none;
    margin-left: 10px;
}
.main .table table{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    line-height: 20px;
}
.main .table td{
    padding: 10px;
    border: 1px solid #d6d6d6;
    color: #a3845b;
    border-bottom: none;
}
.main .table td a{
    text-decoration: none;
}
.main .table td a:hover{
    text-decoration: underline;
    color: #a3845b;
}
.main .table td:last-of-type{
    border-right: none;
}
.main .table th{
    padding: 10px;
    border: 1px solid #d6d6d6;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-top: none;
}
.main .table th:first-of-type{
    border-left: none;
}
.main .table th:last-of-type{
    border-right: none;
}
.main .table .t1{
    color: #000;
    font-weight: 700;
    border-left: none;
}
.main .table .align{
    width: 20%;
}
.main .table p{
    color: #626262;
    margin-bottom: 15px;
    line-height: 2;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
}
.main .table p span{
    font-weight: 700;
}
.main .table p .italic{
    font-style: italic;
    font-weight: 400;
}
.main .discount{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding-top: 90px;
    padding-bottom: 30px;
    display: block;
}
.main .discount .left{
    margin-bottom: 50px;
}
.main .discount .right{
    text-align: center;
}
.main .discount .right h2{
    margin-top: 200px;
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.main .discount .right p{
    margin-top: 35px;
    font-size: 13px;
    color: #626262;
    line-height: 2;
    margin-bottom: 200px;
}
.mainMiddle{
    overflow: auto;
    text-align: center;
    background-color: #fff;
}
.mainMiddle .forRegularClients{
    background-color: #fff;
    padding-top: 50px;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
.mainMiddle .forRegularClients h2{
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.mainMiddle .forRegularClients img{
    margin-bottom: 45px;
}
.mainMiddle .forRegularClients .left{
    line-height: 2;
    text-align: justify;
    margin-bottom: 80px;
    margin-right: 50px;
    color: #626262;
}
.mainMiddle .forRegularClients .left p span{
    font-weight: 700;
}
.mainMiddle .forRegularClients .right{
    line-height: 2;
    text-align: justify;
    margin-bottom: 80px;
    color: #626262;
}

.mainMiddle .forRegularClients .right p span{
    font-weight: 700;
}
.mainMiddle .forRegularClients .right li{
    list-style: disc;
    list-style-position: outside;
    margin-left: 20px;
}
.mainBottom{
    overflow: auto;
    background-color: #f8f8f8;
}
.mainBottom .inner{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    text-align: center;
    vertical-align: top;
    
}
.mainBottom .inner .left{
    margin-top: 110px;
}
.mainBottom .inner .left h2{
    font-size: 38px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.mainBottom .inner .left img{
    margin-bottom: 35px;
}
.mainBottom .inner .left p{
    line-height: 2;
    font-size: 12px;
    color: #626262;
    letter-spacing: 1px;
}
.mainBottom .inner .left p span{
    font-weight: 700;
}
.mainBottom .inner .right{
    margin-bottom: 120px;
}
.mainBottom .inner p{
    font-size: 12px;
    color: #626262;
    letter-spacing: 1px;
}
.mainBottom .inner .button{
    background-color: #a3845b;
    color: #fff;
    padding: 15px 0px;
    margin-top: 60px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1px;
}
.mainBottom .inner .button:hover{
    background-color: #987b55;
}

footer{
    background-color: #353535;
    text-align: center;
}
footer .logo{
    width: 90%;
    margin: auto;
    max-width: 1100px;
    padding-top: 70px;
    margin-bottom: 40px;
}
footer ul{
    width: 90%;
    margin: auto;
    max-width: 700px;
    border-bottom: 1px solid #a3875b;
    margin-bottom: 40px;
}
footer li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
    color: #a3875b;
    padding-bottom: 15px;
    font-size: 14px;
}
footer .top li a{
    text-decoration: none;
    color: #a3875b;
}
footer .top li a:hover{
    text-decoration: underline;
    color: #987b55;
}
footer .fb{
    padding-bottom: 100px;
}
footer .top{
    border-bottom: 1px solid #727272;
}
footer .top .fb img{
    cursor: pointer;
}
footer .bottom{
    color: #727272;
    padding: 30px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
}
.active{
    color: #fff;
}
@media (max-width: 768px){
    header .inner{
        width: 100%;
    }
    header .inner .top{
        background-color: #2f2f2f;
    }
    header .inner .top .sandwich img:last-of-type{
        right: 50px;
    }
    header .inner .top .sandwich img{
        margin-bottom: 0px;
    }
    header .inner .bottom{
        padding-top: 60px;
        background-image: url(images/header03.jpg);
        background-position: center 0px;
    }
    header .inner .top .mobileMenu{
        width: 100%;
        position: relative;
        top: 0px;
    }
    .main .table{
        width: 100%;
        padding: 5px;
    }
    .main .table .header{
        text-align: center;
    }
    .main .table .header select{
        margin-top: 10px;
    }
}
